<div id="create-character" v-cloak>

<div class="container">
  <h1 class="text-center">Create a new character</h1>
  <h3 class="text-center">Game: {{ gameName }}</h3>
  <div class="create-character-form-container">
    <hr/>
    <ajax-form action="createCharacter" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Character Name" :class="[formErrors.characterName ? 'is-invalid' : '']" v-model.trim="formData.characterName" focus-first>
        <div class="invalid-feedback" v-if="formErrors.characterName">A character requires a name.</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Hit points" :class="[formErrors.hitPoints ? 'is-invalid' : '']" v-model.trim="formData.hitPoints">
        <div class="invalid-feedback" v-if="formErrors.hitPoints">Starting hit points is required</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Damage increase" :class="[formErrors.damageIncrease ? 'is-invalid' : '']" v-model.trim="formData.damageIncrease">
        <div class="invalid-feedback" v-if="formErrors.damageIncrease">Damage increase is required</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Base damage increase" :class="[formErrors.baseDmgIncrease ? 'is-invalid' : '']" v-model.trim="formData.baseDmgIncrease">
        <div class="invalid-feedback" v-if="formErrors.baseDmgIncrease">Base damage increase is required</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Spell Damage increase" :class="[formErrors.spellDamageIncrease ? 'is-invalid' : '']" v-model.trim="formData.spellDamageIncrease">
        <div class="invalid-feedback" v-if="formErrors.spellDamageIncrease">Spell Damage increase is required</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Base resist" :class="[formErrors.baseResist ? 'is-invalid' : '']" v-model.trim="formData.baseResist">
        <div class="invalid-feedback" v-if="formErrors.baseResist">Base resist is required</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Inventory slots" :class="[formErrors.inventorySlots ? 'is-invalid' : '']" v-model.trim="formData.inventorySlots">
        <div class="invalid-feedback" v-if="formErrors.inventorySlots">Inventory slots is required</div>
      </div>
      <p class="text-danger" v-if="cloudError==='characterExists'"><small>You already have a character in this game. Either choose another game, or delete your existing character first.</small></p>
      <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      <div class="form-group">
        <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Create</ajax-button>
      </div>
    </ajax-form>
  </div>
</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
